{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    body {
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: 80%;
        background-color: rgba(180, 201, 207, 0.954);
        background-repeat: no-repeat;
        color: rgb(59, 42, 42);
    }

   
  </style>

<h1>Featured Events</h1>

{% for featuredevent in featuredevent_list %}
  <a href="{% url 'featuredevents_detail' featuredevent.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ featuredevent.name }}</span>
        <p>Description: {{ featuredevent.description|linebreaks }}</p>
        <p>City: {{ featuredevent.city|linebreaks }}</p>
        <p>State: {{ featuredevent.state|linebreaks }}</p>
      </div>

    </div>
  </a>
{% endfor %}

{% endblock %}

