{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: rgba(180, 201, 207, 0.954);
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(59, 42, 42);
    }

   
    </style>


  <h1>Add Featured Event</h1>

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn">
</form>

{% endblock %}