{% extends 'base.html' %}
{% block content %}

<h1>Featured Events</h1>

{% for featuredevent in featuredevent_list %}
  <a href="{% url 'featuredevents_detail' featuredevent.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>{{ featuredevent.name }}</strong></span>
        <p><strong>Description: {{ featuredevent.description }}</strong></p>
        <p><strong>City: {{ featuredevent.city }}</strong></p>
        <p><strong>State: {{ featuredevent.state }}</strong></p>
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}

