{% extends 'base.html' %}
{% block content %}

<h1>Featured Event Details</h1>

<div class="row">
  <div class="col s12 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>{{ featuredevent.name }}</strong></span>
        <p><strong>Description: {{ featuredevent.description }}</strong></p>
        <p><strong>City: {{ featuredevent.city }}</strong></p>
        <p><strong>State: {{ featuredevent.state }}</strong></p>
      </div>
      <div class="card-action">
        <a href="{% url 'featuredevents_update' featuredevent.id %}">Edit</a>
        <a href="{% url 'featuredevents_delete' featuredevent.id %}">Delete</a>
      </div>
<!-- Add a section to upload Photo -->
    </div>
  </div>
</div>

{% endblock %}