{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url("{% static 'img/photo.jpeg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(59, 42, 42);
    }

   
    </style>

<h1>All Tasks</h1>

{% for task in tasks %}
  <a href="{% url 'detail' task.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ task.name }}</span>
        <p>Description: {{ task.description }}</p>
        <p>Date: {{ task.date }}</p>
        <p>Time: {{ task.time }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
  

{% endblock %}
