{% extends 'base.html' %}
{% block content %}

<h1>About</h1>

<p>Welcome to our ALL PURPOSE PLANNER application! Our goal is to help you organize your daily tasks and enhance your productivity throughout your life journey. Our moto is to 'Empower Our Daily Life'</p>

<p>With our Planner App, you can:</p>
<ul>
  <li>Login and logout securely to manage your tasks.</li>
  <li>Create and customize your profile to reflect your personality and preferences.</li>
  <li>Easily add, edit, view, and delete tasks to stay organized and on track.</li>
  <li>Explore a user-friendly interface to access all your tasks and navigate between them effortlessly.</li>
  <li>Discover how others have benefitted from using our app through user's testimonials.</li>
  <li>Find detailed instructions on how to make the most of our app on this about page.</li>
  <li>Enhance your task management experience by integrating featured events directly into your planner.</li>
  <li>Stay informed about the weather forecast in your area to plan your tasks accordingly.</li>
  <li>Personalize your tasks by adding photos, making your planner visually appealing and engaging.</li>
  <li>Explore local featured events</li>
</ul>

<p>We're dedicated to providing you with a seamless and enjoyable task management experience. Let's embark on this journey together!</p>

{% endblock %}

