{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>All Purpose Planner</h2>
            <p>Welcome to the All Purpose Planner application!</p>
            <p>Organize your daily tasks and enhance your productivity with our user-friendly planner.</p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <p><strong>Additional information or description about this App?</strong></p>
            <p>Please <a href="{% url 'signup' %}" class="tab-link">Sign up today</a></p>
            <p>Already have an account? <a href="{% url 'login' %}" class="tab-link">Sign In Here</a></p>
        </div>
        <div class="col s12 m6">
            
        </div>
    </div>

    <!-- Testimonials -->
    <div class="row">
        <h2>Testimonials</h2>
        <div class="col s12 m4">
            <div class="testimonial">
                <p><strong>Kevin Jackson</strong></p>
                <p>No words. Truly amazing and user-friendly</p>
                <p>Rating: &#9733;&#9733;&#9733;&#9733;</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="testimonial">
                <p><strong>Yana SB</strong></p>
                <p>All Purpose Planner App guides me to be on time and follow the discipline.</p>
                <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="testimonial">
                <p><strong>Sabrina Walton</strong></p>
                <p>This Tracker App is awesome. I am able to trace my daily life.</p>
                <p>Rating: &#9733;&#9733;&#9733;</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
