{% extends 'base.html' %}
{% block content %}

<h1>All Purpose Planner</h1>

<!-- Sign Up/Sign In Links -->
<div>
    <a href="{% url 'signup' %}">Sign Up</a> |
    <a href="{% url 'login' %}">Sign In</a>
</div>

<!-- Testimonials -->
<div>
    <h2>Testimonials</h2>
    <div class="testimonial">
        
        <p><strong>Kevin Jackson</strong></p>
        <p>No words. Truly amazing and user-friendly</p>
        <p>Rating: &#9733;&#9733;&#9733;&#9733;</p>
    </div>
    <div class="testimonial">
        
        <p><strong>Yana SB</strong></p>
        <p>All Purpose Planner App guides me to be on time and follow the discipline. I am a professor of university and I need to track my daily task with my students, and this app has played a vital role to follow my schedule. Thank you "All Purpose Planner"</p>
        <p>Rating: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
    </div>
    <div class="testimonial">
        
        <p><strong>Sabrina Walton</strong></p>
        <p>This Trakcer App is awesome. I am able to trace my daily life. Before, i was not able to cope my timeline and schedule to complete my task, now I am ahead of time. Thank goes to this app.</p>
        <p>Rating: &#9733;&#9733;&#9733;</p>
    </div>
</div>

{% endblock %}
